.jumbotron {
	background-color: white;
	color: black;
	text-align: center;
	padding: 10px;
	border: 1px solid  black;

	/*   panel-default
	background-color: #f5f5f5;
    border-color: #ddd

    panel-primary
    background-color: #d9edf7;
    border-color: #bce8f1;
    */
}



.shape-icon {
    height: 50px;
    width: 50px;
}

.shape-choice {
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    width: 220px;
    padding: 5px;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    display: block;
	margin: 5px auto;

}


.paper {
	color: #000080
}

.scissors {
	color: #008000
}

.rock {
	color: #800000
}

/*// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
.score {
	text-align: center
}